process {
   withName:fast5Processing{
      container = 'tleonardi/ont-fast5-api:3.1.6'
   }
   withName:tombo{
      container = 'registry.gitlab.com/mfurla/tombo-environment/master:latest'
   }
   withName:nanom6A{
      container = 'gaoyubang/nanom6a:v1'
   }
   cpus = 4
   memory = 12.GB
   executor = 'k8s'
   scratch = true
   accelerator = 0
   perJobMemLimit = true
}

docker {
   enabled = true
   autoMounts = true
}

runName = 'nanom6A'

k8s {
   storageClaimName = 'nfs-minsalute-ieo'
}
